body{
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: start;
}


div{
    background-color: red;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}


div:hover{
    width: 500px;
}


p{
    font-weight: 800;
}