body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


div{
    color: black;
    background-color: darkgreen;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


div:hover{
    scale: 1.5;
    border-radius: 50%;
    background-color: blue;
    transition: scale 1s , border-radius 0.6s , background-color 0.5s;
}


div:active{
    transform: rotate(360deg);
    background-color: purple;
    border-radius: 30px;
    transition: transform 0.7s;
}