#p1{
    color: blueviolet;
}
#p2{
    color: red;
}
#p3{
    color: greenyellow;
}
#p4{
    color: blue;
}
#p5{
    color: yellow;
}
#p6{
    color: cadetblue;
}
#p7{
    color: palevioletred;
}
#p8{
    color: aqua;
}